.joblist {
    display: flex;
    justify-content: space-around;
    border: 10px;
}

button {
    border: none;
    border-radius: 10%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mainlink a {
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: green
}

Badge {
    background-color: lightgrey;
    color: black;
    border-radius: 10%;
}
.description{
    text-align: center;
}

.bigblu {
    background-color: white;
    color: darkgreen;
    font-size: large;
    border: 1px;
}

.bigred {
    background-color: white;
    color: lightslategray;
    font-size: large;
}
